/* General */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
  
:root {
  --main-color: #a9792b;;
  font-size: calc(0.625rem + 0.4vw);
}

#search {
  border-radius: 10px;
  height: 8.5vh;
  width: 16vw;
  margin: 10px;
  font-size: calc(0.9rem + 0.4vw);
  text-align: center;
}

div {
  border: 1px solid black;
}

#main-weather-content {
  display: flex;
  flex-direction: column;
  margin: 10px;
  height: 60vh;
  width: 40vw;
  flex: 1;
}

#general-info {
  flex: 0.25 0.25 auto;
}

#weather-details {
  display: flex;
  flex-direction: row;
  flex: 0.75 0.75 auto;
}

#degrees,
#details {
  display: flex;
  flex-direction: column;
  flex: auto;
  justify-content: center;
  gap: 40px;
}

#degrees {
  flex: 0.55 0.55 auto;
  text-align: center;
}

/* #degrees::after {
  content: '\00B0 C';
  position: absolute;
} */

#details {
  flex: 0.45 0.45 auto;
  padding-left: 40px;
}

.fade-in {
  animation: fadeIn 1.1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0.1;
    transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
  }
}